mixin section-title(title=null)
  .d-flex.flex-column.align-items-center
    h3.fonts--arvo.text-secondary.banner-text--subtitle
      = title
    img.section--underline(src='images/section-title-line.png')

mixin section-left-align(image = null, title = null, captions)
  .d-flex.flex-column-reverse.flex-md-row.align-items-center.px-3.px-md-0
    .d-flex.flex-column.pr-0.pr-md-5.w-50.section--container
      h3.fonts--arvo.text-secondary.banner-text--subtitle.section-text--subtitle
        = title
      hr.my-2
      - var _captions = captions.split('<spacing>')
      each caption in _captions
        p.section-text--caption
          = caption
    .d-flex.flex-column.w-50.ml-0.ml-md-auto.section--container
      if image
        hr.my-2.my-md-0
        img.w-65.mx-auto.ml-md-auto(src=image, alt=title)
        hr.my-2.my-md-0

mixin section-right-align(image = null, title = null, captions)
  .d-flex.flex-column-reverse.flex-md-row-reverse.align-items-center.px-3.px-md-0
    .d-flex.flex-column.pl-0.pl-md-5.w-50.section--container
      h3.fonts--arvo.text-secondary.banner-text--subtitle.section-text--subtitle
        = title
      hr.my-2
      - var _captions = captions.split('<spacing>')
      each caption in _captions
        p.section-text--caption
          = caption
    .d-flex.flex-column.w-50.mr-0.mr-md-auto.section--container
      if image
        img.w-65.mx-auto.mr-md-auto(src=image, alt=title)
        hr.my-2.my-md-0

mixin featured-left-align(image = null, title = null, captions)
  .d-flex.flex-row.align-items-center.px-5
    .d-flex.flex-column.pr-md-5
      h3.fonts--arvo.text-secondary.banner-text--subtitle.section-text--subtitle
        = title
      hr.my-1
      - var _captions = captions.split('<spacing>')
      each caption in _captions
        p.banner-text--caption.text-justify
          = caption
    if image
      img.d-none.d-md-flex.section--image.ml-auto(src=image, alt=title)

mixin featured-right-align(image = null, title = null, captions)
  .d-flex.flex-row-reverse.align-items-center.px-2.py-3.px-lg-5.py-lg-5.section--darker-bg.shadow.featured
    .d-flex.flex-column.pl-md-5
      h3.fonts--arvo.text-secondary.banner-text--subtitle.section-text--subtitle
        = title
      hr.my-2
      - var _captions = captions.split('<spacing>')
      each caption in _captions
        p.banner-text--caption
          = caption
    if image
      img.d-none.d-md-flex.section--image.mr-auto(src=image, alt=title)

mixin core-values(image = null, title = null, captions)
  .d-flex.flex-column.w-33.align-items-center.px-md-3.py-4.featured--core-values
    img.w-50(src=image, alt=title)

    hr.my-2

    h4.fonts--arvo.section-text--subtitle.text-secondary 
      = title
    hr.my-1

    span.section-text--caption.text-center
      = captions

mixin cta(captions, includeButton = false, url = 'javascript:;', buttonText = null)
  .d-flex.flex-column.justify-content-center.align-items-center.cta.text-center.px-5p
    h3.fonts--arvo.banner-text--subtitle.text-white 
      = captions
    if includeButton
      hr.my-3
      a.mx-auto.mx-md-0(href=url)
        button.btn.btn-primary.rounded-pill.btn-lg.px-5.py-xl-1.py-xxl-3.banner--button
          = buttonText
