mixin section-title(title=null)
  .d-flex.flex-column.align-items-center
    h3.fonts--arvo.text-secondary.banner-text--subtitle
      = title
    img.section--underline(src='images/section-title-line.png')

mixin section-left-align(image = null, title = null, captions)
  .d-flex.flex-row.align-items-center.px-5
    .d-flex.flex-column.pr-md-5
      h3.fonts--arvo.text-secondary.section-text--subtitle
        = title
      hr.my-1
      - var _captions = captions.split('<spacing>')
      each caption in _captions
        p.banner-text--caption.text-justify
          = caption
    if image
      img.d-none.d-md-flex.section--image.ml-auto(src=image, alt=title)

mixin section-right-align(image = null, title = null, captions)
  .d-flex.flex-row-reverse.align-items-center.px-5
    .d-flex.flex-column.pl-md-5
      h3.fonts--arvo.text-secondary.section-text--subtitle
        = title
      hr.my-1
      - var _captions = captions.split('<spacing>')
      each caption in _captions
        p.banner-text--caption.text-justify
          = caption
    if image
      img.d-none.d-md-flex.section--image.mr-auto(src=image, alt=title)

mixin featured-left-align(image = null, title = null, captions)
  .d-flex.flex-row.align-items-center.px-5
    .d-flex.flex-column.pr-md-5
      h3.fonts--arvo.text-secondary.section-text--subtitle
        = title
      hr.my-1
      - var _captions = captions.split('<spacing>')
      each caption in _captions
        p.banner-text--caption.text-justify
          = caption
    if image
      img.d-none.d-md-flex.section--image.ml-auto(src=image, alt=title)

mixin featured-right-align(image = null, title = null, captions)
  .d-flex.flex-row-reverse.align-items-center.p-5.section--darker-bg.shadow.featured
    .d-flex.flex-column.pl-md-5
      h3.fonts--arvo.text-secondary.section-text--subtitle
        = title
      hr.my-1
      - var _captions = captions.split('<spacing>')
      each caption in _captions
        p.banner-text--caption.text-justify
          = caption
    if image
      img.d-none.d-md-flex.section--image.mr-auto(src=image, alt=title)